<?xml version="1.0" encoding="utf-8"?>
<Content Key="048f8c90-55a5-4c8c-8d54-78f57b5d5497" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-02-23T21:18:45</CreateDate>
    <NodeName Default="Home">
      <Name Culture="en-US">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="019c8c3a-a833-7743-a1f0-b12350d41084">page</Template>
  </Info>
  <Properties>
    <checkbox>
      <Value Culture="en-US"><![CDATA[1]]></Value>
      <Value Culture="nl-NL"><![CDATA[0]]></Value>
    </checkbox>
    <textstring>
      <Value Culture="en-US"><![CDATA[123]]></Value>
    </textstring>
  </Properties>
</Content>